/* Prüfungsamt CSS */
/* Autor: Weber Mika*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

a:visited, a:link{
    color: black;
}
a:hover{
    color: #00B5AD;
    transition: 0.3s;
}
a{
    text-decoration: none;
    font-size: 15px;
}
input:hover, input:focus{

}
#message-div{
    position: relative;
    margin: 0px auto;
    max-width: 1100px;
    padding: 15px 10px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-collapse: collapse;

    cursor: pointer;

    color: white;
}
.error{
    background-color: red;
}
.info{
    background-color: #00B5AD;
}




#wrapper{
    margin: 0 auto;
    display: grid;
}
#p1{
    height: auto;
}
#p2{
    height: 200px;
}
#p1, #p2{
    visibility: hidden;
    /* unsichtbarer div der die position fixed hat */
    position: fixed;
    left: 50%; transform: translateX(-50%); /* centered das div element in mitte */

    top: 50px;
    padding: 20px;
    width: auto;

    background-color: darkgray;
    border-radius: 5px;
    border: 1px solid black;
}
.close{
    position: absolute;
    right: 20px;
    font-size: 50px;
    top: 5px;
    color: red;
    font-weight: bold;
    cursor: pointer;
}

h1{
    margin-top: 0px;
}
#person-table td, #konto-table td{
    padding-right: 15px;
}
.top-padding-td{
    padding-top: 10px;
}
.bottom-td{
    position: relative;
    bottom: -5px;
}
#rollen{
    width: 100%;
}
#matrikelnummer4{
    width: 100%;
}





h3{
    font-size: 17px;
    text-align: center;
    padding-bottom: 2px;
    border-bottom: 1px solid black;
    margin: 10px auto 18px auto;
}
/* list*/
ul{
    padding-left: 30px;
    margin: 0;

}

.last-added-li{
    padding-bottom: 2px;
    font-size: 14px;
}
/**/

/* form */
/* flex layout in form */
form div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
/* alle Labels in Dashboard ausser bei Person hinzufügen */
.form-label{
    font-size: 12px;
    align-self: flex-start;
    padding-left: 10%;
}
/* label Person hinzufügen */
.person-label{
    font-size: 12px;
    padding-left: 2px;
}

/**/


.matrikelnummer-input, .select-form, input[type="file"]{
    width: 80%;
    margin-bottom: 8px;
    height: 22px;
}

/*input[type="file"]{*/
/*    outline: none;*/
/*}*/
button{
    cursor: pointer;
}

/* sind alle Knoepfe außer die "big buttons" */
.form-button
{
    height: 22px;
    width: 120px;
    margin-bottom: 8px;
}

/**/



/* big button */
.big-buttons{
    width: 55%;
    margin: 10px auto;
    height: 35px;
    background-color: #00B5AD;
    border-radius: 2px;
    box-shadow: 2px 2px darkgray;
    color: white;
    border: 1px solid black;
    outline: none;
    display: block;
}
.last-added-ul{
    margin-top: -8px;
}


.full-width-button{
    width: 100%;
}

#error-div{

}


/**/
/* input file */
#col-1-fileUpload form{
    margin: 0px;
}
#col-1-buttons input[type="file"]{
    display: none;
}

#col-1-fileUpload, #col-1-fileUpload input[type="file"]{
    width: 200px;
}

#col-1-fileUpload{
padding: 5px;
}
input[type="file"] {
    outline-style: none;
}

#col-1-fileUpload button{
    width: 100%;
}


#col-1-buttons > label{
    text-align: center;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;


}



/* every div -> shadow and radius */
#col-1-fileUpload, #col-1-last-added, #klausurzulassung, #klausurzulassungen, #praktikum, #testatbogen{
    margin: 20px auto 0 auto;
    box-shadow: 2px 2px darkgray;
    border-radius: 2px;
    background-color: lightgray;
    padding-top: 1px;
}

#col-1, #col-2, #col-3{
    /* Innere div (last added) kann nicht über col1 div hinaus */
    overflow: hidden;
}

/* col1 start */
#col-1-buttons{
    margin: 20px 0;
}
/* col1 end */
/**/


/* col2 start */

/* Etwas groessere divs (haben zwei Input Felder) */
#klausurzulassung, #praktikum{
    height: 165px;
}
/* etwas kleinere divs (haben kleinere Input Felder) */
#klausurzulassungen, #testatbogen{
    height: 140px;
}


/* desktop query start */

@media(min-width: 1030px) {
    header, #wrapper, #message-div{
        max-width: 1100px;
    }
    #wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 350px;

    }
    #col-1-last-added {
        max-width: 250px;
        height: 222px;
    }
    #klausurzulassung, #klausurzulassungen, #praktikum, #testatbogen{
        width: 80%;
    }
    #col-1, #col-2, #col-3{
        max-width: 350px;
    }
    .last-added-li{
        margin-left: 10px;
    }

}
/* desktop query end */


/* tablet query start */

@media(max-width:1030px)  and (min-width: 710px){
    body{
        margin-bottom: 40px;
    }
    #message-div{
        width: 85%;
    }
    #wrapper{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 350px;
        gap: 30px 30px;
    }
    #col-1-last-added {
        max-width: 75%;
        height: 226px;
    }
    #klausurzulassung, #klausurzulassungen, #praktikum, #testatbogen{
       margin-top: 20px;
        width: 85%;
    }
    .last-added-li{
        margin-left: 10px;
    }

}

@media(min-width:610px) and (max-width: 710px){
    body{
        margin-bottom: 40px;
    }

    header, #wrapper, #message-div{
        width: 95%;
    }
    #wrapper{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 350px;
        grid-row-gap: 20px;
    }
    #col-1-last-added {
        width: 75%;
        height: 226px;
    }
    #klausurzulassung, #klausurzulassungen, #praktikum, #testatbogen{
        width: 85%;
    }
    #praktikum, #testatbogen {

    }

}

/* tablet query end */
/* mobile query start */
@media (max-width: 610px){
    h1{
        font-size: 15px;
    }
    .close{
        top: 10px;
        font-size: 30px;
    }
    td{
        display: block;
    }
    body{
    }

    header, #wrapper, #message-div{
        width: 98%;
    }
    #wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:  auto 400px 400px;
        grid-row-gap: 20px;
        margin: 0 auto;
    }
    #col-1-fileUpload{
        width: 65%;
    }

    #col-1-last-added {
        margin-bottom: 5px;
        min-height: auto;
        max-height: 226px;
        width: 85%;
    }
    input[type="file"]{
    width: 100%;
    }

    .last-added-li{
        text-align: center;
        list-style-type: none;
    }
    ul{
        padding-left: 0px;
    }

    h3{
        width: 55%;
        text-align: center;
    }
     #testatbogen{
        width: 85%;
        height: 150px;
    }
    #praktikum, #klausurzulassung{
        height: 170px;
        width: 85%;
    }
    #klausurzulassungen{
        height: 170px;
        width: 85%;
    }

}

/* mobile query end */
