
        button{
    float:left;
    background-color: cadetblue;
            text-align: center ;
            margin-right: 2cm;
            transform: translate(30cm,-1.5cm);
            padding: 10px;
            width: 4cm;
        }
        button.b2{
    background-color: cadetblue;
            text-align: center ;
            margin-right: 2cm;
            transform: translate(32cm,-1.5cm);
            width: 5cm;
            padding: 10px;
        }
        hr{
    font-weight: bold;
        }
        h1.meinekurse{
    text-align: center;
            color: cadetblue;
            font-family: Verdana,serif;
            font-weight: 90;
            margin-top: 1mm;
        }
        div.grid1{
    margin-left: 6cm;
            text-align: -moz-center;
            font-weight: bold;
            font-family: Verdana,serif;
            border-style:solid;
            padding-bottom :1cm;
            border-bottom: none;
            background-color: lightblue;
        }
        div.grid2{
    margin-left: 6cm;
            background-color: lightblue;
            margin-top: 2cm;
            text-align: -moz-center;
            font-weight: bold;
            font-family: Verdana,serif;
            border-style:solid;
            padding-bottom :1cm;
            border-bottom: none;
        }
        div{
    margin-left: 6cm;
            border-bottom: none;
            border-style: solid;
            padding-bottom: 2cm;
        }

        li.kurse {

    list-style: none;
            border-left: none;
            font-family: Calibri,serif;
        }
        li.li1{
    border-left: none;
        }
        li {
    border-left: solid;
            float: left;
            list-style: none;
            margin-right: 0.5cm;
            padding-left: 1cm;
        }
        
        a{
    text-decoration: none;
            color: cadetblue;
        }